<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova for plugins -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

    <!-- Moment -->
    <script src="lib/moment/moment.min.js"></script>

    <!-- rounded progressbar for timer on player -->
    <script src="lib/angular-svg-round-progressbar/roundProgress.min.js"></script>
  </head>
  <body ng-app="gpstracker" ng-controller="TimeTracker">
    <ion-header-bar align-title="center" class="bar-dark">
        <h1 class="title">GPS Tracker</h1>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="progress-wrapper">
            <div class="progress">
                {{humanizeDurationTimer(timer,'s')}}
            </div>
          <div round-progress max="timeForTimer" current="timer" clockwise="false" color="#ef473a" rounded="true" class="text-center"></div>
        </div>

        <!-- Before starting -->
        <div ng-if="!started && !paused">
          <div class="row">
            <div class="col">
              <button class="button button-outline button-balanced button-rounded button-block" ng-click='unlockTimer()'>
                Iniciar
              </button>
            </div>
          </div>
        </div>
        <!-- Once it is running -->
        <div ng-if="started">
          <div class="row">
            <div class="col">
              <button class="button button-outline button-energized button-rounded button-block" ng-click='lockTimer()'>
              Pausar
              </button>
            </div>
          </div>
        </div>
        <!-- Once it is paused -->
        <div ng-if="!started && paused">
          <div class="row">
            <div class="col">
              <button class="button button-outline button-balanced button-rounded button-block" ng-click='unlockTimer()'>
                Continuar
              </button>
            </div>
          </div>
        </div>

    </ion-content>
  </body>
</html>
