<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova for plugins -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

    <!-- Moment -->
    <script src="lib/moment/moment.min.js"></script>

    <!-- rounded progressbar for timer on player -->
    <script src="lib/angular-svg-round-progressbar/roundProgress.min.js"></script>
  </head>
  <body ng-app="gpstracker" ng-controller="TimeTracker">

    <ion-side-menus>
      <ion-side-menu side="left">
        <div class="list">
            <a menu-close class="item item-icon-left" href="#/">
                <i class="icon ion-home"></i> Home
            </a>
            <a menu-close class="item item-icon-left" href="#/history" ng-click="getAllPositions()">
                <i class="icon ion-map"></i> Histórico
            </a>
            <div class="item item-divider">
                Base de dados
            </div>
            <a menu-close class="item item-icon-left" href="#" ng-click="exportData()">
                <i class="icon ion-email"></i> Exportar
            </a>
            <a menu-close class="item item-icon-left" href="#" ng-click="cleanData()">
                <i class="icon ion-trash-a"></i> Limpar
            </a>
        </div>
      </ion-side-menu>

      <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        <ion-nav-bar align-title="center" class="bar-dark">
            <ion-nav-title>
                <h1 class="title">GPS Tracker</h1>
            </ion-nav-title>

            <ion-nav-back-button class="button-clear">
              <i class="ion-arrow-left-c"></i> Voltar
            </ion-nav-back-button>

            <ion-nav-buttons>
                <button menu-toggle="left" class="button button-dark button-icon icon ion-navicon">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

    </ion-side-menus>

    <script id="home.html" type="text/ng-template">
        <ion-view>
            <ion-content class="padding">

                <div class="progress-wrapper">
                    <div class="progress">
                        {{humanizeDurationTimer(timer,'s')}}
                    </div>
                  <div round-progress max="timeForTimer" current="timer" clockwise="false" color="#ef473a" rounded="true" class="text-center"></div>
                </div>

                <ul class="list">
                  <li class="item" ng-repeat="position in getPositions()">
                    <h2><i class="ion-clock"></i> {{ position.formattedDate}}</h2>
                    <span class="item-note">
                      <i class="ion-map"></i> {{ position.latitude }} |  {{ position.longitude }}
                    </span>
                  </li>
                </ul>

            </ion-content>

            <!-- Before starting -->
            <button ng-if="!started" class="bar bar-footer bar-balanced" ng-click='unlockTimer()'>
                <div class="title">
                    <i class="ion-unlocked"></i>
                        <span ng-if="!paused">Iniciar</span>
                        <span ng-if="paused">Continuar</span>
                </div>
            </button>

            <!-- Once it is running -->
            <button ng-if="started" class="bar bar-footer bar-energized" ng-click='lockTimer()'>
              <div class="title"><i class="ion-locked"></i> Pausar</div>
            </button>
        </ion-view>
    </script>

    <script id="history.html" type="text/ng-template">
        <ion-view>
            <ion-content class="padding">

                <ul class="list">
                  <li class="item" ng-repeat="position in positions| orderBy:'-datetime'">
                    <h2><i class="ion-clock"></i> {{ position.datetime }}</h2>
                    <span class="item-note">
                      <i class="ion-map"></i> {{ position.latitude }} |  {{ position.longitude }}
                    </span>
                  </li>
                </ul>

            </ion-content>
        </ion-view>
    </script>

  </body>
</html>
